//Primary Color:
$primary-color-text: #171717;
$primary-color-background: #f4f6f8;
$primary-color-btn: #007f60;

//Secondary Color:
$secondary-color-background: #ffffff;
$secondary-color-border: #bdc5d5;
